<div *ngIf="!book">
    <div class="add-title">
        <h2 class="primary">добавление книги</h2>
    </div>
    <div>
        <form [formGroup]="addCusForm" (change)="formChanged()">
            <mat-grid-list cols="2" [cols]="breakpoint" rowHeight="85px" (window:resize)="onResize($event)">
                <mat-grid-tile>
                    <div class="text-inside">
                        <mat-form-field>
                            <input matInput placeholder="Title" formControlName="title" required>
                            <mat-error *ngIf="addCusForm.controls['title'].hasError('required')">
                                Please enter the title
                            </mat-error>
                        </mat-form-field>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    <div class="text-inside">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Genre" formControlName="genre" required>
                            <mat-error *ngIf="addCusForm.controls['genre'].hasError('required')">
                                Please enter the genre
                            </mat-error>
                        </mat-form-field>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    <div class="text-inside">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="number of page" formControlName="pageCount" required>
                            <mat-error *ngIf="addCusForm.controls['pageCount'].hasError('required')">
                                number of page is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    <div class="text-inside">
                        <mat-form-field>
                            <textarea matInput formControlName="description" placeholder="description"></textarea>
                        </mat-form-field>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field>
                        <mat-label>Автор</mat-label>
                        <mat-select formControlName="author">
                            <mat-option *ngFor="let author of $authors | async" [value]="author.fullName">
                                {{author.fullName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field>
                        <mat-label>Язык</mat-label>
                        <mat-select formControlName="lang">
                            <mat-option [value]="lang" *ngFor="let lang of languages">
                                {{lang}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-grid-tile>
            </mat-grid-list>
            <div class="btn-sec">
                <button mat-raised-button type="submit" color="primary" class="Update-btn" (click)="submitData()">Save</button>
                <button mat-raised-button type="button" class="Discard-btn" [mat-dialog-close]="">Cancel</button>
            </div>

        </form>
    </div>
</div>
<div *ngIf="book">
    <glo-book-details [book]="book"></glo-book-details>
</div>