<div *ngIf="!book">
    <div class="add-title">
        <h2 class="primary">добавление книги</h2>
    </div>
    <div>
        <form [formGroup]="addCusForm" (change)="formChanged()">
            <mat-grid-list cols="2" [cols]="breakpoint" rowHeight="100px" (window:resize)="onResize($event)">
                <mat-grid-tile>
                    <div class="text-inside">
                        <mat-form-field>
                            <input matInput placeholder="название" formControlName="title" required>
                            <mat-error id="titleError" *ngIf="addCusForm.controls['title'].hasError('required')">
                                Пожалуйста, введите название
                            </mat-error>
                        </mat-form-field>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    <div class="text-inside">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="жанр" formControlName="genre" required>
                            <mat-error id="genreError" *ngIf="addCusForm.controls['genre'].hasError('required')">
                                Пожалуйста, укажите жанр
                            </mat-error>
                        </mat-form-field>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    <div class="text-inside">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="число страниц" formControlName="pageCount" required>
                            <mat-error id="" *ngIf="addCusForm.controls['pageCount'].hasError('required')">
                                необходимо число страниц
                            </mat-error>
                        </mat-form-field>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    <div class="text-inside">
                        <mat-form-field>
                            <textarea matInput formControlName="description" placeholder="описание"></textarea>
                        </mat-form-field>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field class="example-chip-list">
                        <mat-label>Author</mat-label>
                        <mat-chip-list [multiple]="false" #chipList aria-label="Author selection">
                            <mat-chip *ngIf="authCtlrValue" (removed)="removeAuthor()">
                                {{authCtlrValue}}
                                <button matChipRemove>
                                    <mat-icon>cancel</mat-icon>
                                </button>
                            </mat-chip>
                            <input placeholder="New author" #authorInput formControlName="author" [matAutocomplete]="auto" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="addAuthor($event)
                            ">
                        </mat-chip-list>
                        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedAuthor($event)">
                            <mat-option *ngFor="let author of $authors | async" [value]="author.fullName">
                                {{author.fullName}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field>
                        <mat-label>Язык</mat-label>
                        <mat-select formControlName="lang">
                            <mat-option [value]="lang" *ngFor="let lang of languages">
                                {{lang}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-grid-tile>
                <!-- <mat-grid-tile>
                    
                </mat-grid-tile> -->
            </mat-grid-list>
            <div class="btn-sec">
                <button mat-raised-button type="submit" id="submitBtn" color="primary" class="Update-btn submitBtn" (click)="submitData()">Сохранить</button>
                <button mat-raised-button id="cancelBtn" type="button" class="Discard-btn" [mat-dialog-close]="">Отменить</button>
            </div>

        </form>
    </div>
</div>
<div *ngIf="book">
    <glo-book-details [book]="book"></glo-book-details>
</div>